.post-list-wrapper {
  padding: 30px;
}

.post-list-wrapper h2 {
  margin-bottom: 15px;
}

.post-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.post-table th,
.post-table td {
  padding: 10px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  text-align: center;
}

.post-table th {
  background: #f3f4f6;
}

.table-img {
  width: 50px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.edit-btn {
  background: #2563eb;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background: #dc2626;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
